$white: #FFFFFF;
$black: #000;
$theme-color: #F0D79E;
$font-color: #958256;
$border-color: #707070;
$button-color: #D1B472;
$checkbox-color: #ECCB80;
$red: red;
$light_green: rgb(159, 207, 103);
$checked-color: #FFF3D8;
$checked-bg-color: #C7A452;
$padding: 20px;