@import '~bootstrap/dist/css/bootstrap.min.css';
@import "./assets/scss/variables";

html {
  width: 100vw;
  html, body {
      background-color: $theme-color !important;
      height: 100%;

      .main-container {
          width: 100%;
          height: 100%;
          margin-bottom: 32px;
          padding: 0px $padding;
          overflow-x: hidden;

          .label {
              color: $font-color;
          }

          .font-1-4 {
              font-size: 1.4rem;
          }

          .font-1-1 {
              font-size: 1.1rem;
          }

          .m-t-5 {
              margin-top: 5rem;
          }

          .m-b-5 {
              margin-bottom: 5rem;
          }
      }
  }
}

.alert-danger {
    max-width: 220px;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: $font-color;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}