@import "../../../../assets/scss/variables";

.main-container {

    .monster-container {
        bottom: 0;
        left: 0;
        z-index: 0;
       
        .sub-container {
            position: fixed;
            bottom: -100px;
            left: -69px;

            .monster_rotated{
                transform: rotate(45deg);
            }

            .path-ellipse-container {
                position: absolute;
                top: -29px;
                right: 5px;
                .swipe-left-msg {
                    font-size: 0.8rem;
                    min-width: 120px;
                    text-align: center;
                }
            }

        }

    }

    
    .checkboxes-container {
        display: block;
        z-index: 1;
        width: 100%;

        .checkbox-container {
            width: 100px;
            height: 35px;
            display: flex;  
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-bottom: 12px;
            margin-right: 8px;
            float: left;
            background: $checkbox-color;
            border: 1px solid $font-color;
            color: $font-color;
            position: relative;
            cursor: pointer;
            overflow: hidden;
            overflow-wrap: break-word;
            word-wrap: break-word;

            &.checked {
                background: $checked-bg-color;
                color: $checked-color;

                &::before {
                    content:"\2713";
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background: $checked-color;
                    color: $checked-bg-color;
                    font-size: 0.6rem;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
        }
    }
}
