<div class="main-container d-flex flex-column align-items-center pt-5">
    <div class="d-flex flex-column align-items-center font-1-4 label">
        {{ 'dice_title' | translate }}
        <div class="font-1-1 m-t-5">{{diceQuestion.QuestionText}}</div>
    </div>
    <div class="d-flex flex-column align-items-center w-100 mt-4">
        <img src="{{diceQuestion.preloadedImage.src}}" class="monster_rotated">
    </div>
    <div class="checkboxes-container mt-4">
        <div *ngFor="let item of diceOptions" class="checkbox-container" [ngClass]="{'checked': items.indexOf(item) !== -1}"
             (click)="goToNextQuestion(item, diceQuestion.QuestionId)">{{item}}</div>
    </div>
    <div class="d-flex flex-column align-items-center w-100 m-t-5">
        <div class="sub-container" >
            <div class="path-ellipse-container d-flex flex-column align-items-cenetr">
                <span class="label swipe-left-msg">{{ monsterMsg }}</span>
                <img src="{{restApi.monsterImage.reserve_path.src}}" class="path">
            </div>
            <img src="{{restApi.monsterImage.dice_monster.src}}" class="monster_rotated">
        </div>
    </div>
</div>
