@import "../../../../assets/scss/variables";

.main-container {


  .inside-cart {
    width: 50px;
    height: 50px;
    background-repeat: round;
    float: left;
  }

  #cartContainer {
    width: 250px;
    padding-left: 65px;
    padding-top: 30px;
  }

  .imges-container {
    display: block;
    width: 100%;
    background: $white;
    // padding: 20px;
    position: relative;

    .img-container {
      width: 50px;
      height: 50px;
      position: absolute;
      background-repeat: no-repeat;
      background-size: contain;
      // display: -webkit-box;
      // display: flex;
      // -webkit-box-orient: horizontal;
      // -webkit-box-direction: normal;
      // flex-direction: row;
      // -webkit-box-align: center;
      // align-items: center;
      // -webkit-box-pack: center;
      // justify-content: center;
      // margin-bottom: 12px;
      // margin-right: 8px;
      // float: left;
      z-index: 1;

      img {
        width: 50px;
        height: 50px;
        object-fit: contain;
        position: absolute;
      }
    }
  }

  .monster-container {
    bottom: 0;
    left: 0;
    z-index: 0;

    .sub-container {
      position: fixed;
      bottom: -100px;
      left: -69px;
      width: 300px;

      .monster_rotated {
        transform: rotate(45deg);
      }

      .path-ellipse-container {
        // position: absolute;
        top: -29px;
        right: 5px;

        .swipe-left-msg {
          font-size: 0.8rem;
          min-width: 120px;
          text-align: center;
        }
      }

    }

  }

  .checkboxes-container {
    display: block;
    z-index: 1;
    width: 100%;

    .checkbox-container {
      width: 100px;
      height: 35px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 12px;
      margin-right: 8px;
      float: left;
      background: $checkbox-color;
      border: 1px solid $font-color;
      color: $font-color;
      position: relative;
      cursor: pointer;
      overflow: hidden;
      overflow-wrap: break-word;
      word-wrap: break-word;
      padding: 20px;

      &.checked {
        background: $checked-bg-color;
        color: $checked-color;

        &::before {
          content: "\2713";
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: $checked-color;
          color: $checked-bg-color;
          font-size: 0.6rem;
          text-align: center;
          justify-content: center;
          align-items: center;
          display: flex;
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }
  }
  .shaking {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}