<div id="main" class="main-container d-flex flex-column align-items-center pt-5">
  <div class="d-flex flex-column align-items-center font-1-4 label mb-5">
    {{ 'select_item' | translate }}
  </div>
  <div class="imges-container">
    <div id="{{i}}" *ngFor="let item of data; let i = index;" class="img-container">
      <!-- the image for cart items are set dynamically, check the code in the below called method -->
      {{initCartItem(i)}}
    </div>
  </div>
  <div id="checkbox_items" class="checkboxes-container mt-4">
    <div *ngFor="let item of cartOptions" (click)='removeItem(item)' class="checkbox-container"
      [ngClass]="{'checked': items.indexOf(item) !== -1}">{{item}}</div>
  </div>
  <div class="d-flex flex-row align-items-center w-100 m-t-5">
    <div class="sub-container">
      <img id="cartImg" src="{{restApi.monsterImage.cart.src}}" style="position: absolute;">
      <div id="cartContainer" >
      </div>
    </div>
  </div>
</div>
