<div class="main-container d-flex flex-column align-items-center pt-5" *ngIf="!loading && restApi.monsterImagesLoaded">
  <div class="d-flex flex-column align-items-start label title">
    {{ 'welcome_msg' | translate }}
  </div>
  <form [formGroup]="welcomeForm" class=" mt-4">
    <!-- <div class="d-flex flex-column align-items-start m-t-5 form-group">
      <span class="label name">{{ 'enter_your_name' | translate }}</span>
      <input class="form-control pl-0" placeholder="{{ 'full_name_placeholder' | translate }}"
        formControlName="userName" required>
    </div> -->
    <!-- <div *ngIf="welcomeForm.controls['userName'].invalid &&  (pressedOnStart || welcomeForm.controls['userName'].touched)"
      class="alert alert-danger">
      <div *ngIf="welcomeForm.controls['userName'].errors.pattern">{{ 'min_length_error' | translate }} </div>
      <div *ngIf="welcomeForm.controls['userName'].errors.required">{{ 'field_required_error' | translate }} </div>
    </div> -->
    <div class="d-flex flex-column align-items-center">
      <img *ngIf="restApi.monsterImagesLoaded" src="{{restApi.monsterImage.welcome_monster.src}}">
      <div (click)="goToStep2()" class="button pt-5">{{ 'start' | translate}}</div>
    </div>
  </form>
</div>
<div *ngIf="loading" class="d-flex flex-column align-items-center justify-content-center h-100 w-100">
    <div class="loader"></div>
</div>
