@import "../../../../assets/scss/variables";

.main-container {
    
    .label {
        color: $font-color;

        &.name {
            font-size: 1.2rem;
        }
    }

    .title {
        font-size: 2rem;
    }

    .button {
        cursor: pointer;
        color: $button-color;
        font-size: 2rem;
    }

    input {
        background: transparent;
        border: 0px;
        border-bottom: 1px solid $border-color;
        border-radius: 0px;

        &:focus {
             border-color: inherit;
             -webkit-box-shadow: none;
             box-shadow: none;
        }
        &::placeholder {
            color: $border-color;
            opacity: 0.8;
        }
    }

    .m-t-5 {
        margin-top: 5rem;
    }
}
