body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.bg-img {
  /* The image used */
  background-image: url("/static/images/anna/background.png");

  /* Control the height of the image */
  min-height: 720px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: auto;
}


/* Style the form */
#anna_form {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
  opacity: 0.8;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
  padding-bottom: 10px;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}


input[type=radio] {
display:none;
}

input#thing1[type=radio] + label
{
background-image: url("/static/images/anna/1_cr.jpg");
border-color: white;
border-style: solid;
height: 160px;
width: 160px;
display:inline-block;
padding: 0 0 0 0px;
}
input#thing2[type=radio] + label
{
background-image: url("/static/images/anna/2_cr.jpg");
border-color: white;
border-style: solid;
height: 160px;
width: 160px;
display:inline-block;
padding: 0 0 0 0px;
}
input#thing3[type=radio] + label
{
background-image: url("/static/images/anna/3_cr.jpg");
border-color: white;
border-style: solid;
height: 160px;
width: 160px;
display:inline-block;
padding: 0 0 0 0px;
}
input#thing4[type=radio] + label
{
background-image: url("/static/images/anna/4_cr.jpg");
border-color: white;
border-style: solid;
height: 160px;
width: 160px;
display:inline-block;
padding: 0 0 0 0px;
}
input#thing5[type=radio] + label
{
background-image: url("/static/images/anna/5_cr.jpg");
border-color: white;
border-style: solid;
height: 160px;
width: 160px;
display:inline-block;
padding: 0 0 0 0px;
}


input#thing1[type=radio]:checked + label
{
border-color: green;
border-style: solid;
height: 160px;
width: 160px;
display:inline-block;
padding: 0 0 0 0px;
}
input#thing2[type=radio]:checked + label
{
border-color: green;
border-style: solid;
height: 160px;
width: 160px;
display:inline-block;
padding: 0 0 0 0px;
}
input#thing3[type=radio]:checked + label
{
border-color: green;
border-style: solid;
height: 160px;
width: 160px;
display:inline-block;
padding: 0 0 0 0px;
}
input#thing4[type=radio]:checked + label
{
border-color: green;
border-style: solid;
height: 160px;
width: 160px;
display:inline-block;
padding: 0 0 0 0px;
}
input#thing5[type=radio]:checked + label
{
border-color: green;
border-style: solid;
height: 160px;
width: 160px;
display:inline-block;
padding: 0 0 0 0px;
}