body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.bg-img {
  /* The image used */
  background-image: url("/static/images/mobbisurance/mobbisurance.jpg");

  /* Control the height of the image */
  min-height: 600px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  overflow: auto;
}


/* Style the form */
#anna_form {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
  opacity: 0.9;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
  padding-bottom: 10px;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}


input[type=radio] {
display:none;
}

input[type=radio] + label
{
border-color: white;
border-style: solid;
height: 160px;
width: 160px;
display:inline-block;
padding: 0 0 0 0px;
}

input#thing1_1[type=radio] + label
{
background-image: url("/static/images/mobbisurance/1_1.jpg");
}
input#thing1_2[type=radio] + label
{
background-image: url("/static/images/mobbisurance/1_2.jpg");
}
input#thing1_3[type=radio] + label
{
background-image: url("/static/images/mobbisurance/1_3.jpg");
}
input#thing1_4[type=radio] + label
{
background-image: url("/static/images/mobbisurance/1_4.jpg");
}
input#thing1_5[type=radio] + label
{
background-image: url("/static/images/mobbisurance/1_5.jpg");
}
input#thing2_1[type=radio] + label
{
background-image: url("/static/images/mobbisurance/2_1.jpg");
}
input#thing2_2[type=radio] + label
{
background-image: url("/static/images/mobbisurance/2_2.jpg");
}
input#thing2_3[type=radio] + label
{
background-image: url("/static/images/mobbisurance/2_3.jpg");
}
input#thing2_4[type=radio] + label
{
background-image: url("/static/images/mobbisurance/2_4.jpg");
}
input#thing2_5[type=radio] + label
{
background-image: url("/static/images/mobbisurance/2_5.jpg");
}
input#thing3_1[type=radio] + label
{
background-image: url("/static/images/mobbisurance/3_1.jpg");
}
input#thing3_2[type=radio] + label
{
background-image: url("/static/images/mobbisurance/3_2.jpg");
}
input#thing3_3[type=radio] + label
{
background-image: url("/static/images/mobbisurance/3_3.jpg");
}
input#thing3_4[type=radio] + label
{
background-image: url("/static/images/mobbisurance/3_4.jpg");
}
input#thing3_5[type=radio] + label
{
background-image: url("/static/images/mobbisurance/3_5.jpg");
}
input#thing4_1[type=radio] + label
{
background-image: url("/static/images/mobbisurance/4_1.jpg");
}
input#thing4_2[type=radio] + label
{
background-image: url("/static/images/mobbisurance/4_2.jpg");
}
input#thing4_3[type=radio] + label
{
background-image: url("/static/images/mobbisurance/4_3.jpg");
}
input#thing4_4[type=radio] + label
{
background-image: url("/static/images/mobbisurance/4_4.jpg");
}


input[type=radio]:checked + label
{
border-color: green;
border-style: solid;
height: 160px;
width: 160px;
display:inline-block;
padding: 0 0 0 0px;
}