<div class="main-container d-flex flex-column align-items-center pt-5">
    <div class="d-flex flex-column align-items-center font-1-4 label" *ngIf="pressedOnSubmit">
       <div class="loader pt-4" *ngIf="loading"></div>
       <div class="d-flex flex-column align-items-center font-1-4 label" *ngIf="!loading">
            {{ 'contact_msg' | translate }}
            <div *ngIf="finalScore" class="d-flex flex-column align-items-center justify-content-center w-100 pt-4 font-1-1">
                {{ 'final_score_msg' | translate}} {{finalScore}}
            </div>
        </div>
        <div class="d-flex flex-column align-items-center m-t-5">
            <img src="{{restApi.monsterImage.welcome_monster.src}}">
        </div>
    </div>

    <div class="d-flex flex-column align-items-center" *ngIf="!pressedOnSubmit">
        <div class="d-flex flex-column align-items-center font-1-4 label">
            {{ 'summary_msg' | translate }}
        </div>
        <div class="d-flex flex-column align-items-center m-t-5">
            <img src="{{restApi.monsterImage.welcome_monster.src}}">
            <div (click)="submit()" class="button pt-5">{{ 'submit' | translate}}</div>
         </div>
     </div>
</div>
          