@import "../../../../assets/scss/variables";

.main-container {

    .button {
        cursor: pointer;
        font-size: 2rem;
    }

    input {
        background: transparent;
        border: 0px;
        border-bottom: 1px solid $border-color;
        border-radius: 0px;

        &:focus {
             border-color: inherit;
             -webkit-box-shadow: none;
             box-shadow: none;
        }
        &::placeholder {
            color: $border-color;
            opacity: 0.8;
        }
    }
}