<div class="main-container d-flex flex-column align-items-center pt-5">
    <div class="d-flex flex-column align-items-center label title">
        <span class="font-1-4">{{ 'introduction' | translate }}</span>
        <div class="font-1-1 pt-2">{{ 'introduction_msg' | translate}}</div>
    </div>
    <div class="d-flex flex-column align-items-center mt-3">
        <div (click)="start()" class="label button pb-5 pt-4">{{ 'go' | translate}}</div>
        <img (swipeleft)='swipeToContinue()' src="{{restApi.monsterImage.introduction_monster.src}}" (dragstart)="stopDraggingImage($event)">
    </div>
</div>

