<div class="main-container d-flex flex-column align-items-center pt-5">
    <div class="d-flex flex-column align-items-center font-1-4 label mb-4">
        {{ 'select_img' | translate }}
    </div>
    <div id="imges-container" class="imges-container">
        <div (dragstart)="stopDraggingImage($event)" (click)='toggleImageScale($event,imageQuestion.QuestionId,i)' [@EnterLeave] *ngFor="let image of images; let i=index"   id="{{i}}" class="img-container">
            <!-- <img (swipe)='imageSwiped()' src="{{image}}"> -->
            <img draggable="false" src="{{image}}">
             {{registerImagesForSwiping(i)}}
          </div>
    </div>
    <div class="d-flex flex-row w-100 pt-5 align-items-center justify-content-center">
        <div class="path-ellipse-container position-relative m-b-5 d-flex flex-column align-items-end">
                <span class="label swipe-left-msg mb-2">{{ monsterMsg }}</span>
                <img src="{{restApi.monsterImage.path.src}}" class="path">
        </div>
        <img draggable="false"  id="monster" src="{{restApi.monsterImage.image_monster.src}}">
    </div>
</div>

