@import "../../../../assets/scss/variables";

.main-container {

    .imges-container {
        display: block;

        .img-container {
            width: 150px;
            height: 150px;
            display: -webkit-box;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            flex-direction: row;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            margin-bottom: 12px;
            margin-right: 8px;
            float: left;
            cursor: pointer;
            color: $light_green;
            background-color: rgba(159, 207, 103, 0.1);
            box-shadow: rgba(159, 207, 103, 0.6) 0px 0px 0px 1px inset;
            opacity: 1;
            will-change: opacity;
            border-radius: 4px;
            position: relative;
            transition: transform .5s ease;

            img {
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                width: 100%;
                height: 100%;
                padding: 8px;
            }

        }
    }

    .path-ellipse-container {
        .swipe-left-msg {
            font-size: 0.8rem;
            min-width: 120px;
            text-align: center;
        }
    }
}
