{% set navigation_bar = [
    ('partner', 'Home'),
    ('edit_questions', 'Questions'),
    ('show_answers', 'Answers'),
    ('partner_logout', 'Log out')
] -%}
{% set active_page = active_page|default('partner') -%}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %} - ConfirmU</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 600px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;}
    }
  </style>
</head>
<body>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>ConfirmU</h4>
      <ul class="nav nav-pills nav-stacked">
        {% for id, caption in navigation_bar %}
          <li{% if id == active_page %} class="active"{% endif %}><a href="{{ url_for(id) }}">{{ caption|e }}</a></li>
        {% endfor %}
      </ul><br>
    </div>

    <div class="col-sm-9">
      {% block content %}{% endblock %}
     </div>
  </div>
</div>

<footer class="container-fluid">
  <p>© all rights reserved 2018, confirmu.com</p>
</footer>

</body>
</html>
