<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>ConfirmU</title>
       <link rel="stylesheet" media="screen" href ="/static/css/bootstrap.min.css">
       <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">

    </head>
    <body>
	<div class="container">
		{% if error_message is defined %}
			<p><b>{{error_message}}</b></p>
		{% endif %}
		<p><div>Current questions
		{% for key, lang in cur_questions.items() %}
		<div  style="padding-left:20pt"><b>Language:</b> {{key}}
			{% for key2, question in lang.items() %}
			<div  style="padding-left:20pt"><b>{{key2}} - </b>{{question}}</div>
			{% endfor %}
			</div>
		{% endfor %}
		</div>
		</p>
	</div>
		<div class="container">
			<section>
				<form id="theForm" autocomplete="off" action ="" method="post" >
					<div class="simform-inner">
						<ol class="questions">
                             {{ form.csrf }}
                       	{% for field in form %}
                                <li>
                                    <span><label>{{field.label.text}}</label></span><br>
                                {{field(style="width: 1000px;")}}

                                </li>

                         {% endfor %}

						</ol><!-- /questions -->
						<button class="submit" type="submit">Update questions</button>
					<div><!-- /simform-inner -->

				</form><!-- /simform -->
			</section>
		</div><!-- /container -->
    <script src="/static/js/jquery.min.js"></script>
    </body>
</html>