<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>ConfirmU</title>
       <link rel="stylesheet" media="screen" href ="/static/css/bootstrap.min.css">
       <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/component.css" />
		<script src="/static/js/modernizr.custom.js"></script>

    </head>
    <body>
		<div class="container">
			<section>
				<form id="theForm" class="simform" autocomplete="off" action ="" method="post" >
					<div class="simform-inner">
						<ol class="questions">
                             {{ form.csrf }}
                       	{% for field in form %}
                                <li>
                                    <span><label>{{field.label.text}}</label></span>
                                {{field()}}
                                </li>

                         {% endfor %}

						</ol><!-- /questions -->
						<button class="submit" type="submit">Send answers</button>
						<div class="controls">
							<button class="next"></button>
							<div class="progress"></div>
							<span class="number">
								<span class="number-current"></span>
								<span class="number-total"></span>
							</span>
							<span class="error-message"></span>
						</div><!-- / controls -->
					</div><!-- /simform-inner -->
					<span class="final-message"></span>
				</form><!-- /simform -->
			</section>
		</div><!-- /container -->
		<script src="/static/js/classie.js"></script>
		<script src="/static/js/stepsForm.js"></script>
		<script>
			var theForm = document.getElementById( 'theForm' );

			new stepsForm( theForm, {
				onSubmit : function( form ) {
					// hide form
					classie.addClass( theForm.querySelector( '.simform-inner' ), 'hide' );
					form.submit()
					// let's just simulate something...
					var messageEl = theForm.querySelector( '.final-message' );
					messageEl.innerHTML = 'We make kind a magic! please wait..';
					classie.addClass( messageEl, 'show' );
				}
			} );
		</script>
    </body>
</html>