<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{partner}}</title>
    <base href="/dizzy_app/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/dizzy_app/styles.css">
</head>
<body>
    <app-root></app-root>
    <script src="/static/dizzy_app/runtime-es2015.js" type="module"></script>
    <script src="/static/dizzy_app/runtime-es5.js" nomodule defer></script>
    <script src="/static/dizzy_app/polyfills-es5.js" nomodule defer></script>
    <script src="/static/dizzy_app/polyfills-es2015.js" type="module"></script>
    <script src="/static/dizzy_app/main-es2015.js" type="module"></script>
    <script src="/static/dizzy_app/main-es5.js" nomodule defer></script>
</body>
</html>
