{% extends 'base.html' %}
{% set active_page = "edit_questions" %}

{% block title %}Edit questions{% endblock %}

{% block content %}
		<div class="container">
          <div class="form-group" id="editQuestionsForm">
              <label for="partner"><h4>Select partner</h4></label>
              <select class="form-control" id="partner">
				  {% for partner in partners %}
                	<option value="{{partner}}">{{langnames[partner]}}</option>
				  {% endfor %}
              </select><br>
			  <button type="button" class="btn btn-default" id="getquestions-btn">Get questions</button>
			  <br><br>
              <div id="questions">


			  </div><br>
			   <button type="button" class="btn btn-default" id="sendquestions-btn" display="none">Update questions</button>
          </div>
		</div><!-- /container -->
<script>

window.onload = function(){
   document.getElementById("sendquestions-btn").style.display = "none";
   document.getElementById("getquestions-btn").addEventListener("click", function(){
        //getTearSheet();
        var reqdata = {};
        reqdata['partner'] = document.getElementById("partner").value;
        questions = document.getElementById("questions");
        while (questions.firstChild) {
            questions.removeChild(questions.firstChild);
        };
        document.getElementById("sendquestions-btn").style.display = "none";
		$.ajax({
            url: '/get_translation',
            data: reqdata,
            type: 'POST',
            success: function (data) {
                for (var property in data) {
                    if (data.hasOwnProperty(property)) {
                        var question = document.createElement('div');
                        question.className = 'input-group';
                        var qspan =  document.createElement('span');
                        qspan.className ="input-group-addon";
                        qspan.innerHTML = property;
                        var qinput = document.createElement('input');
                        qinput.className ="form-control";
                        qinput.setAttribute("type", "text");
                        qinput.setAttribute("id", property);
                        qinput.setAttribute("name", property);
                        qinput.value = data[property];
                        question.appendChild(qspan);
                        question.appendChild(qinput);
                        questions.appendChild(question);
                    };
                };
                document.getElementById("sendquestions-btn").style.display = "block";


                },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
            alert(errorThrown);
            }
        });

    }, false);


    document.getElementById("sendquestions-btn").addEventListener("click", function(){
        //getTearSheet();
        var formValues = {};

		for (var i = 0; i < document.getElementsByClassName("form-control").length; i++) {
		    formValues[document.getElementsByClassName("form-control")[i].id] = document.getElementsByClassName("form-control")[i].value
		};
		$.ajax({
            url: '/set_translation',
            data: formValues,
            type: 'POST',
            success: function (data) {
                alert(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });

    }, false);

};




    </script>
{% endblock %}