<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>ConfirmU</title>
       <link rel="stylesheet" media="screen" href ="/static/css/bootstrap.min.css">
       <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/component.css" />
		<script src="/static/js/modernizr.custom.js"></script>

    </head>
    <body>
		<div class="container">
			<section>
				<form id="theForm" class="simform" autocomplete="off" action ="" method="post" >
					<div class="simform-inner">
						<ol class="questions" id="questions_ol">
                             {{ form.csrf }}
                       	{% for field in form %}
                                <li>
                                    <span><label>{{field.label.text}}</label></span>
                                {{field()}}
                                </li>
                         {% endfor %}
							<li id="type_selector">
								<span><label>Choose credit type</label></span>
                                <select id="questions_type" name="questions_type" onchange="set_questions(questions, nsf)">
									{% for x in questions %}
									<option>{{x}}</option>
									{% endfor %}
								</select>
                                </li>




						</ol><!-- /questions -->
						<button class="submit" type="submit">Send answers</button>
						<div class="controls">
							<button class="next"></button>
							<div class="progress"></div>
							<span class="number">
								<span class="number-current"></span>
								<span class="number-total"></span>
							</span>
							<span class="error-message"></span>
						</div><!-- / controls -->
					</div><!-- /simform-inner -->
					<span class="final-message"></span>
				</form><!-- /simform -->
			</section>
		</div><!-- /container -->
		<script src="/static/js/classie.js"></script>
		<script src="/static/js/stepsForm.js"></script>
		<script>


			var questions = {{questions|safe}};

		function set_questions(questions, nsf) {
		var type_selector = document.getElementById('type_selector');
    var questions_type = document.getElementById('questions_type');
    var questions_ol = document.getElementById('questions_ol');
    while (type_selector.nextElementSibling ) {
        type_selector.nextElementSibling.remove();
    };
    var current_questions = (Object.keys(questions[questions_type.value]));
    for (i=0; i<current_questions.length; i++) {
    	var li = document.createElement('li');
    	var span = document.createElement('span');
    	var label = document.createElement('label');
    	label.innerHTML = questions[questions_type.value][current_questions[i]];
    	var input = document.createElement('input');
    	input['id'] = current_questions[i];
    	input['name'] = current_questions[i];
    	input['type'] = 'text';
    	input['value'] = '';
    	var div = document.createElement('div');
    	span.appendChild(label);
    	li.appendChild(span);
    	li.appendChild(input);
    	li.appendChild(div);
    	questions_ol.appendChild(li);
    };
    var number_of_questions = document.getElementsByClassName("number-total")[0];
    number_of_questions.innerHTML = questions_ol.childElementCount;
    if (typeof nsf != "undefined") {
    	nsf.questions = [].slice.call(nsf.el.querySelectorAll( 'ol.questions > li' ) );
    	nsf.questionsCount = nsf.questions.length;
    	nsf._progress();
    };

};
set_questions(questions, nsf);
			var theForm = document.getElementById( 'theForm' );

			var nsf = new stepsForm( theForm, {
				onSubmit : function( form ) {
					// hide form
					classie.addClass( theForm.querySelector( '.simform-inner' ), 'hide' );
					form.submit()
					// let's just simulate something...
					var messageEl = theForm.querySelector( '.final-message' );
					messageEl.innerHTML = 'We make kind a magic! please wait..';
					classie.addClass( messageEl, 'show' );
				}
			} );



		</script>
    </body>
</html>