<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>ConfirmU</title>
       <link rel="stylesheet" media="screen" href ="/static/css/bootstrap.min.css">
       <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">

    </head>
    <body>
        <ul class="nav nav-tabs">
            <li class="active"><a href="/itraveleo">Calculate score</a></li>
            <li><a href="http://confirmu.com/">Contact us</a></li>
        </ul>
        <div class="container">

            {% if result %}
               <h1>Youre score is: {{'%0.2f' % result.final_score}}</h1>
             <a href="/itraveleo" class="btn btn-info" role="button">Try again</a>
            {% endif %}
            {% if not result %}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for message in messages %}
                            <div class="alert alert-warning">
                                {{ message[1] }}
                            </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <h2>Get your score now!</h2>
            {% if personal_id%}
                <div>Score will be saved for id = {{personal_id}}<br></div>
            {% endif %}
            <form  action="" method="post" role="form">
                {{ form.csrf }}
                {% for field in form %}
                <div class="form-group">
                    <label>{{field.label.text}}</label>
                    {{field(class="form-control", placeholder=field.label.text)}}

                </div>
                {% endfor %}

                <button type="submit" class="btn btn-success">Get Score</button>
            </form>
            {% endif %}



        </div>
    </body>
</html>