<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>ConfirmU</title>
       <link rel="stylesheet" media="screen" href ="/static/css/bootstrap.min.css">
       <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/component.css" />
		<script src="/static/js/modernizr.custom.js"></script>

    </head>
    <body>
		<div class="container">
			<section>
				<form id="theForm" class="simform" autocomplete="off" action ="" method="post" >
					<div class="simform-inner">
						<ol class="questions">
                             {{ form.csrf }}
                       	{% for key in questions_keys %}
                                <li>
                                    <span><label>key</label></span>
									<input type="text" id="{{key}}" name="{{key}}">
                                    <div></div>
                                </li>

                         {% endfor %}

						</ol><!-- /questions -->
						<button class="submit" type="submit">Send answers</button>
						<div class="controls">
							<div><button class="next"></button>
							</div>
							<div class="progress"></div>
							<span class="number">
								<span class="number-current"></span>
								<span class="number-total"></span>
							</span>
							<span class="error-message"></span>
						</div><!-- / controls -->
					</div><!-- /simform-inner -->
					<div class="voice-controls">
                            <select id="dropdown" name="dropdown" onchange="changeLanguage(this)">
                            </select>
						<button type=button id="start-btn">Start recording</button>
						<button type=button id="stop-btn" disabled>Stop recording</button>
					</div>
					<span class="final-message"></span>

				</form><!-- /simform -->
			</section>
		</div><!-- /container -->
    <script src="/static/js/recorder.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/classie.js"></script>
    <script src="/static/js/stepsForm.js"></script>
    <script src="/static/js/questions.js"></script>
        <script>

        // Expose globally your audio_context, the recorder instance and audio_stream
        function uuidv4() {
          return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
            var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
            return v.toString(16);
          });
        }

        var session_id = uuidv4()
        var audio_context;
        var recorder;
        var audio_stream;
		var theForm = document.getElementById( 'theForm' );
		var selectedLanguage;
		var err_msg = document.getElementsByClassName('error-message')[0]

        function changeLanguage(objDropDown) {
            selectedLanguage = objDropDown.value;
            console.log(selectedLanguage);
            translate_questions(selectedLanguage);
        }

        /**
         * Patch the APIs for every browser that supports them and check
         * if getUserMedia is supported on the browser.
         *
         */
        function Initialize() {
            try {
                // Monkeypatch for AudioContext, getUserMedia and URL
                window.AudioContext = window.AudioContext || window.webkitAudioContext;
                navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia;
                window.URL = window.URL || window.webkitURL;

                // Store the instance of AudioContext globally
                audio_context = new AudioContext;
                // console.log('Audio context is ready !');
                // console.log('navigator.getUserMedia ' + (navigator.getUserMedia ? 'available.' : 'not present!'));
            } catch (e) {
                alert('No web audio support in this browser!');
            }
        }

        /**
         * Starts the recording process by requesting the access to the microphone.
         * Then, if granted proceed to initialize the library and store the stream.
         *
         * It only stops when the method stopRecording is triggered.
         */
        function startRecording() {
            // Access the Microphone using the navigator.getUserMedia method to obtain a stream
            navigator.getUserMedia({ audio: true }, function (stream) {
                // Expose the stream to be accessible globally
                audio_stream = stream;
                // Create the MediaStreamSource for the Recorder library
                var input = audio_context.createMediaStreamSource(stream);
                //console.log('Media stream succesfully created');

                // Initialize the Recorder Library
                recorder = new Recorder(input);
                //console.log('Recorder initialised');

                // Start recording !
                recorder && recorder.record();
                //console.log('Recording...');
                err_msg.textContent = "Recording...";

                // Disable Record button and enable stop button !
                document.getElementById("start-btn").disabled = true;
                document.getElementById("stop-btn").disabled = false;
            }, function (e) {
                console.error('No live audio input: ' + e);
                err_msg.textContent = "No live audio input: " + e;
            });
        }

        /**
         * Stops the recording process. The method expects a callback as first
         * argument (function) executed once the AudioBlob is generated and it
         * receives the same Blob as first argument. The second argument is
         * optional and specifies the format to export the blob either wav or mp3
         */
        function stopRecording(callback, AudioFormat) {
            // Stop the recorder instance
            recorder && recorder.stop();
            console.log('Stopped recording.');

            // Stop the getUserMedia Audio Stream !
            audio_stream.getAudioTracks()[0].stop();

            // Disable Stop button and enable Record button !
            document.getElementById("start-btn").disabled = false;
            document.getElementById("stop-btn").disabled = true;

            // Use the Recorder Library to export the recorder Audio as a .wav file
            // The callback providen in the stop recording method receives the blob
            if(typeof(callback) == "function"){

                /**
                 * Export the AudioBLOB using the exportWAV method.
                 * Note that this method exports too with mp3 if
                 * you provide the second argument of the function
                 */
                recorder && recorder.exportWAV(function (blob) {
                    callback(blob);

                    // create WAV download link using audio data blob
                    // createDownloadLink();

                    // Clear the Recorder to start again !
                    recorder.clear();
                }, (AudioFormat || "audio/wav"));
            }
        }

        // Initialize everything once the window loads
        window.onload = function(){
            set_available_langs();
            selectedLanguage = document.getElementById('dropdown').value;
            translate_questions(selectedLanguage);

			new stepsForm( theForm, {
				onSubmit : function( form ) {
					// hide form
					classie.addClass( theForm.querySelector( '.simform-inner' ), 'hide' );
					classie.addClass( theForm.querySelector( '.voice-controls' ), 'hide' );
					form.submit()
					// let's just simulate something...
					var messageEl = theForm.querySelector( '.final-message' );
					messageEl.innerHTML = 'We make kind a magic! please wait..';
					classie.addClass( messageEl, 'show' );
				}
			} );

            // Prepare and check if requirements are filled


            // Handle on start recording button
            document.getElementById("start-btn").addEventListener("click", function(){
                Initialize();
                startRecording();
            }, false);

            // Handle on stop recording button
            document.getElementById("stop-btn").addEventListener("click", function(){
                // Use wav format
                var _AudioFormat = "audio/wav";
                // You can use mp3 to using the correct mimetype
                //var AudioFormat = "audio/mpeg";

                stopRecording(function(AudioBLOB){
                    // Note:
                    // Use the AudioBLOB for whatever you need, to download
                    // directly in the browser, to upload to the server, you name it !

                    // In this case we are going to add an Audio item to the list so you
                    // can play every stored Audio
                    var url = URL.createObjectURL(AudioBLOB);

                    // convert to base64 and send
                    var reader = new FileReader();
                    var base64data;
                    document.getElementsByClassName('error-message')[0].textContent = "Saving your voice.."
                    reader.readAsDataURL(AudioBLOB);
                    reader.onloadend = function() {
                         base64data = reader.result;
                         document.getElementsByClassName('error-message')[0].textContent = "Trying to transcribe.."
                         //console.log(base64data);
                         $.post(
                         	"/process_wav",
                         	{
                         	    audio: base64data,
                         	    fname: new Date().toISOString() + '.wav', session: session_id,
                         	    language: selectedLanguage
                         	 },
                         	function(data, status){
                                document.getElementsByClassName('current')[0].children[1].value = data.transcription
                                document.getElementsByClassName('error-message')[0].textContent = ""
                            }
                         );
                    }



                }, _AudioFormat);
            }, false);
        };

		var translations = {{questions|safe}}



		</script>






    </body>
</html>