<!-- HTML for static distribution bundle build -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Confirmu API description</title>
  <link rel="stylesheet" type="text/css" href="/static/css/swagger-ui.css" >
</head>

<body>


<div id="swagger-ui"></div>

<script src="/static/js/swagger-ui-bundle.js"> </script>
<script src="/static/js/swagger-ui-standalone-preset.js"> </script>
<script>
window.onload = function() {
  const ui = SwaggerUIBundle({
    url: "/static/api/{{filename}}.json",
    dom_id: '#swagger-ui',
    deepLinking: true,
    presets: [
      SwaggerUIBundle.presets.apis,
      SwaggerUIStandalonePreset
    ]
  })

  window.ui = ui
}
</script>
</body>

</html>
