{% extends 'base.html' %}
{% set active_page = "edit_questions" %}

{% block title %}Edit questions{% endblock %}

{% block content %}
		<div class="container">
          <div class="form-group" id="editQuestionsForm">
              <label for="language"><h4>Select language</h4></label>
              <select class="form-control" id="language">
				  {% for language in langs %}
                	<option value="{{language}}">{{langnames[language]}}</option>
				  {% endfor %}
              </select><br>
			  <button type="button" class="btn btn-default" id="getquestions-btn">Get questions</button>
			  <br><br>
              <div id="questions">


			  </div><br>
			   <button type="button" class="btn btn-default" id="sendquestions-btn" display="none">Update questions</button>
          </div>
		</div><!-- /container -->
	<script src="/static/js/editquestions.js"></script>
{% endblock %}