{% extends 'base.html' %}


{% block title %}Log In{% endblock %}

{% block content %}
          <h4>Sign In</h4>
    <form action="" method="post" novalidate>
        {{ form.csrf }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
