{% extends 'base.html' %}
{% set active_page = "show_answers" %}

{% block title %}Answers{% endblock %}

{% block content %}
		<div class="container">
         <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Created</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Text</th>
              <th scope="col">Result</th>
            </tr>
          </thead>
          <tbody>
          {% for answer in answers %}
            <tr>
              <th scope="row">{{answer.created}}</th>
              <td>{{answer.name}}</td>
              <td>{{answer.email}}</td>
                <td>
                    <p><b>Original:</b>{{answer.raw_text}}</p>
                    <p><b>Translated:</b> {{answer.text_to_analyze}}</p>
                </td>
              <td>
                  <p><b>Final score:</b> {{answer.final_score}}</p>
                  <p><b>Decision:</b> {{answer.decision}}</p>
                  <p><b>Scores:</b>{{answer.scores}}</td>
            </tr>

         {% endfor %}
		</div><!-- /container -->
{% endblock %}