<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>ConfirmU</title>
       <link rel="stylesheet" media="screen" href ="/static/css/bootstrap.min.css">
       <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">

    </head>
    <body>
		<div class="container">
            <p><b>Name:</b> {{result.name}}</p>
            <p><b>Email:</b> {{result.email}}</p>
            <p><b>Answers:</b> {{result.raw_text}}</p>
            <p><b>Translated answers:</b> {{result.text_to_analyze}}</p>
            <p><b>Scores:</b> {{result.scores}}</p>
            <p><b>Final score:</b> {{result.final_score}}</p>
            <p><b>Decision:</b> {{result.decision}}</p>
		</div><!-- /container -->
    </body>
</html>