<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>ConfirmU</title>
       <link rel="stylesheet" media="screen" href ="/static/css/bootstrap.min.css">
       <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">
        <style type='text/css'>
            .vertical{
                -webkit-transform:rotate(90deg);
                height:80px;
            }
        </style>
    </head>
    <body>
		<div class="container">
            <p><b>Text</b> {{result.text_to_analyze}}</p>
            <table border="1" cellpadding="5">
            <tr>
                <td>Part</td>
                {% for pattern in result.patterns %}
                <td class="vertical">{{pattern}}</td>
                {% endfor %}

            </tr>
            {% for item in result.scores %}
            <tr>
                <td>{{item}}</td>
                {% for pattern in result.patterns %}
                {% if  result.scores[item][pattern] <= 0.7 %}
                <td style="background-color: rgb({{((result.scores[item][pattern]-0.35)/0.35*255) | int}},255,0)">
                    {{result.scores[item][pattern]}}
                </td>
                {% else %}
                <td style="background-color: rgb(255,{{(255-result.scores[item][pattern]*255) | int}},0)">
                    {{result.scores[item][pattern]}}
                </td>

                {% endif %}



                {% endfor %}

            </tr>
            {% endfor %}
        </table>

		</div><!-- /container -->
    </body>
</html>