<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ partner_info.title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />

        <style>
            body, html {
              height: 100%;
            }

            * {
              box-sizing: border-box;
            }

            .bg-img {
              /* The image used */
              background-image: url("{{ partner_info.logo }}");

              /* Control the height of the image */
              min-height: 600px;

              /* Center and scale the image nicely */
              background-position: center;
              background-repeat: no-repeat;
              /*background-attachment: fixed;*/
              background-size: cover;
              position: relative;
              overflow: auto;
            }


            /* Style the form */
            #anna_form {
              background-color: #ffffff;
              margin: 100px auto;
              padding: 40px;
              width: 70%;
              min-width: 300px;
              opacity: 0.9;
            }

            /* Style the input fields */
            input {
              padding: 10px;
              width: 100%;
              font-size: 17px;
              font-family: Raleway;
              border: 1px solid #aaaaaa;
            }

            /* Mark input boxes that gets an error on validation: */
            input.invalid {
              background-color: #ffdddd;
            }

            /* Hide all steps by default: */
            .tab {
              display: none;
              padding-bottom: 10px;
            }

            /* Make circles that indicate the steps of the form: */
            .step {
              height: 15px;
              width: 15px;
              margin: 0 2px;
              background-color: #bbbbbb;
              border: none;
              border-radius: 50%;
              display: inline-block;
              opacity: 0.5;
            }

            /* Mark the active step: */
            .step.active {
              opacity: 1;
            }

            /* Mark the steps that are finished and valid: */
            .step.finish {
              background-color: #4CAF50;
            }


            input[type=radio] {
            display:none;
            }

            input[type=radio] + label
            {
            border-color: white;
            border-style: solid;
            height: 160px;
            width: 160px;
            display:inline-block;
            padding: 0 0 0 0px;
            }
            {% for q in questions %}
                {% for image in q.Images %}

                        input#{{ q.QuestionCode }}_{{ image.image_id.replace(" ", "").replace(".jpg","").replace(".png","") }}[type=radio] + label
                        {
                        background-image: url("{{  image.url }}");
                        }

                {% endfor %}
            {% endfor %}


            label {
                padding-top: 160px !important;
                font-size: 14px;
                text-align: center;
              font-family: Raleway;

            }
            input[type=radio]:checked + label
            {
            border-color: green;
            border-style: solid;
            height: 160px;
            width: 160px;
            display:inline-block;
            padding: 0 0 0 0px;
            }
    </style>
    <script>let processing_url = '{{ partner_info.processing_url }}';
    let external_id = '{{ external_id }}';
    {%  if partner_info.loan %}
    let payment_period = '{{ partner_info.loan.period }}';
    let interest_rate = '{{ partner_info.loan.interest_rate }}';
    {% endif %}

    </script>
</head>
<body>
<div class="bg-img">
<form id="anna_form" method="post">

<!-- One "tab" for each step in the form: -->
{% for p in partner_info.intro %}
    <div class="tab"><p>{{ p }}</p></div>
{% endfor %}
    {%  if partner_info.name_question %}
    <div class="tab"><p id="name">{{ partner_info.name_question }}</p><input name="name" placeholder="input your name" class="form-control"></div>
    {% endif %}
    {%  if partner_info.email_question %}
    <div class="tab"><p id="email">{{ partner_info.email_question }}</p><input name="email" placeholder="email" class="form-control"></div>
    {%  endif %}
    {%  if partner_info.loan %}
    <div class="tab" id="loan_details">
        <label for="total_amount">Amount requested: <span id="total_amount_value">{{ partner_info.loan.total_amount.min }}</span> {{ partner_info.loan.currency }}</label>
        <input type="range" class="form-control-range" id="total_amount" min="{{ partner_info.loan.total_amount.min }}" max="{{ partner_info.loan.total_amount.max }}" value="{{ partner_info.loan.total_amount.min }}">
        <label for="loan_length">Loan Length: <span id="loan_length_value"></span> {{ partner_info.loan.period }}(s)</label>
        <input type="range" class="form-control-range" id="loan_length" min="{{ partner_info.loan.loan_length.min }}" max="{{ partner_info.loan.loan_length.max }}">
        <p>Payment per {{ partner_info.loan.period }}: <span id="payment_value"></span> {{ partner_info.loan.currency }}</p>
    </div>
    {%  endif %}
    {% for q in questions %}
    {% if q.QuestionType == "FreeText" %}
        <div class="tab"><p id="question-{{ loop.index }}-text">{{ q.QuestionText }}</p><input name="question-{{ loop.index }}-text" class="form-control"></div>
    {% elif q.QuestionType == "Image" %}
        <div class="tab">
            <p id="question-{{ loop.index }}-{{ q.QuestionCode}}-select">{{ q.QuestionText }}</p>
            {% set qloop = loop %}
            {% for image in q.Images %}
            <input type="radio" value='{{ image.image_id.replace(" ", "").replace(".jpg","").replace(".png","") }}' name='question-{{ qloop.index }}-{{ q.QuestionCode}}-select' id="{{ q.QuestionCode }}_{{ image.image_id.replace(" ", "").replace(".jpg","").replace(".png","") }}"/>
                <label for="{{ q.QuestionCode }}_{{ image.image_id.replace(" ", "").replace(".jpg","").replace(".png","") }}">{% if image.label %}{{ image.label }}{% endif %}</label>
            {% endfor %}
        </div>
    {% elif q.QuestionType == "Select" %}
        <div class="tab">
           <p id="question-{{ loop.index }}-{{ q.QuestionCode}}-select">{{ q.QuestionText }}?</p>
            <select class="form-control" name="question-{{ loop.index }}-{{ q.QuestionCode}}-select">
                {% set qloop = loop %}
                {% for option in q.Options %}
                    <option>{{ option.value }}</option>
                {% endfor %}
            </select>
        </div>
    {% elif q.QuestionType == "Voice" %}
        <div class="tab voice"><p id="question-{{ loop.index }}-voice">{{ q.QuestionText }} (voice)</p>
            <input name="question-{{ loop.index }}-voice" class="form-control" type="hidden">

        </div>
    {% endif %}

{% endfor %}
      <div id="record_buttons" style="display:none">
        <button type=button id="start-btn" class="btn">Start recording</button>
        <button type=button id="stop-btn" class="btn" disabled>Stop recording</button>
      </div>
<div style="overflow:auto;">
  <div style="text-align: center">
    <!--<button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button> -->
    <button type="button" class="btn" id="nextBtn" onclick="nextPrev(1)">Next</button>
  </div>
</div>

<!-- Circles which indicates the steps of the form: -->
<div style="text-align:center;margin-top:40px;" id="progress-bar">
</div>
<div style="text-align:center;margin-top:10px;display:none" id="errors">
</div>

</form>
    <div id="result" style="text-align:center;margin-top:100px;padding:40px;display:none;background-color: #ffffff;"></div>
</div>
<script src="/static/js/recorder.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/shuffle.js"></script>



</body>
</html>