

<div class="container">
<div class="row">
  <div class="col-2">
  </div>
  <div class="col-10">
    <progress-bar [progress]="85" [color-degraded]="{'0': '#f5424e',  '25': '#f5ad42', '50': '#42c5f5', '80': '#32c75d'}">
</progress-bar>
  </div>
</div>

<div class="row">
    <div class="col-2"></div>
    <div class="col-9">
      <progress-bar [progress]="51" [color-degraded]="{'0': '#f5424e',  '25': '#f5ad42', '50': '#42c5f5', '80': '#4ef542'}">
</progress-bar>
    </div>
</div>
</div>
