<div class="main-container d-flex flex-column align-items-center pt-5 justify-content-center">
    <span class="label font-1-4 m-b-5">{{ 'error_msg_routing' | translate}}</span>
    <img src="/static/dizzy_app/assets/images/introduction-monster.svg">
</div>
